@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div>
    <h2>Введите текст</h2>
    @using (Html.BeginForm("Upload", "Index", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div class="inputcontainer">
        <div style="border:1px solid red">
            <input type="file" name="uploadfile"  class="inputfile"/>
            <label for="file">Выберите файл</label>
        </div>
            <button type="submit" asp-page-handler="Upload">Показать текст файла</button>
        
    </div>
    }

        <form method="post">

            <textarea autofocus="autofocus" type="text" name="text" style="width: 720px; height: 340px; resize:none; margin:5px 0 0;">@IndexModel.Text</textarea>

            @if (IndexModel.ErrorMessage2 != null)
            {<h2 style="color:red">@IndexModel.ErrorMessage2</h2>}
           
            <div class="inputcontainer2">
                               
                <div>
                    <p><h2>Введите ключ</h2></p>
                    <input type="text" name="key" value="@IndexModel.Key" />
                    <input type="submit" name="Send" asp-page-handler="Text" />
                </div>

                <div style="margin:  37px 0 0;">
                  
                    <p><input type="radio" asp-route="@Model.Operation" name="Operation" value="true" checked>Шифрование текста</p>
                    <p><input type="radio" asp-route="@Model.Operation" name="Operation" value="false">Дешифрование текста</p>

                </div>

            </div>

        </form>
    <h2>Преобразованный текст</h2>
    <textarea autofocus="autofocus" type="text" name="text" style="width: 720px; height: 340px; resize:none;">@IndexModel.Result</textarea>

    <form method="post">
        <button type="submit" asp-page-handler="Export">Сохранить</button>
    </form>
</div>



