@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div>
    <h2>Введите текст</h2>
    @using (Html.BeginForm("Upload", "Index", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
                <input type="file" name="uploadfile" />
                <button type="submit" asp-page-handler="Upload">Показать текст файла</button>
            
        </div>
    }

    <form method="post">

        <textarea autofocus="autofocus" type="text" name="text" style="width: 720px; height: 340px; resize:none">@IndexModel.Text</textarea>

        @if (IndexModel.ErrorMessage2 != null)
        {<h1 style="color:red">@IndexModel.ErrorMessage2</h1>}
        <div>
            <h2>Введите ключ</h2>
            <input type="text" name="key" value="@IndexModel.Key" />

            <p><input type="radio" asp-route="@Model.Operation" name="Operation" value="true" checked>Шифрование текста</p>
            <p><input type="radio" asp-route="@Model.Operation" name="Operation" value="false">Дешифрование текста</p>

            <input type="submit" name="Send" asp-page-handler="Text" />
        </div>
    </form>
    <h2>Преобразованный текст</h2>
    <textarea autofocus="autofocus" type="text" name="text" style="width: 720px; height: 340px; resize:none;">@IndexModel.Result</textarea>

    <form method="post">
        <button type="submit" asp-page-handler="Export">Сохранить</button>
    </form>
</div>



